# Python Operators
1. Arithmetic Operator
    - +,-,*,/,
    - // -> floor division,
    - ** -> Exponential,
    - % -> modulus
2. Assignment Operator
    - =, +=, -=, *=, /=, //=, **=, %=   -> x+=3 => x = x+3
3. Comparision Operator
   - <,>,<=,>=, ==, !=
   - it returns boolean value
5. Logical Operator
    - and, or, not()
    - it returns boolean value 
6. Identity Operator
   - is -> if both variables are the same object
   - is not -> returns True if both arenot same objet
7. Membership Operator
   - in  -> returns True if a sequence with a specified value is present in the object
   - not in -> returns True if a sequence with a specified value is not present in the object
8. bitwise Operator
   - &, |, ~

In [7]:
# Arithmetic Operator
x = 5
y = 4

x//y

x**y

x%y

1

In [13]:
# Assignment Operator
x **= 2
x

81

In [19]:
# Comparision

x<y
81==81

True

In [27]:
# Logical 
x>y and 5<4
x>y or 5<4

not(5<4)

True

In [ ]:
# Bitwise - bitwise operation
# &, |, ~

In [31]:
5 | 4

5

In [ ]:
0101
0100

0100

In [35]:
a = 81

In [39]:
x is a
x is not y

True

In [41]:
'apple' in ['apple','ball','cat','dog']

True

In [45]:
if 'appl' in ['apple','ball','cat','dog']:
    print('It is True')

# String
- String in python are surrounded by either single , double or triple quotaion.

In [49]:
print('Hello')

Hello

In [51]:
name = "Dursikshya Institute"
name

'Dursikshya Institute'

In [61]:
sentence = """
    This is our 2nd day.
    here we learn python basic
    we are going to learn more about advanced python also.
"""

sentence

'\n    This is our 2nd day.\n    here we learn python basic\n    we are going to learn more about advanced python also.\n'

# important note
- you can not use single quote inside single quote, it is also same for others.

In [66]:
text = "There is a bag. It's mine"
text

"There is a bag. It's mine"

In [70]:
print('Ram Says,"We are Student" ')

Ram Says,"We are Student"

# Strings are Arrays

In [79]:
txt = 'Dursikshya Institute'
txt

'Dursikshya Institute'

In [75]:
# accessing
txt[1]

'u'

In [81]:
txt[-3]

'u'

# string Slicing
- process of creating substring

In [93]:
txt[:10]

'Dursikshya'

In [105]:
txt[0:17:3]

'Dssani'

In [101]:
txt[:-7]

'Dursikshya In'

In [97]:
len(txt)

20

In [103]:
# loop through string

for x in txt:
    print(x)

D
u
r
s
i
k
s
h
y
a

I
n
s
t
i
t
u
t
e

# built-in Methods

In [114]:
print(txt)
print(txt.upper())
print(txt.lower())
print(txt.title())

Dursikshya Institute
DURSIKSHYA INSTITUTE
dursikshya institute
Dursikshya Institute

In [122]:
word = 'This is our 2nd day. here we learn python basic.'
word

'This is our 2nd day. here we learn python basic.'

In [118]:
# split -> create a list of words separated by desired symbol, default white space

In [124]:
word.split()

['This', 'is', 'our', '2nd', 'day.', 'here', 'we', 'learn', 'python', 'basic.']

In [126]:
word.split(sep='.')

['This is our 2nd day', ' here we learn python basic', '']

In [130]:
sentence

'\n    This is our 2nd day.\n    here we learn python basic\n    we are going to learn more about advanced python also.\n'

In [128]:
sentence.splitlines()

['',
 '    This is our 2nd day.',
 '    here we learn python basic',
 '    we are going to learn more about advanced python also.']

In [134]:
txt.replace('i', 'I')

'DursIkshya InstItute'

In [150]:
name = input('Enter Your Name.')
name

Enter Your Name.            Durisikahya

'           Durisikahya              '

In [152]:
len(name)

36

In [140]:
# strip() - it is used to remove whitespace before and after string.

In [146]:
name = name.strip()

In [148]:
len(name)

10

In [154]:
name.rstrip()

'           Durisikahya'

In [156]:
name.lstrip()

'Durisikahya              '

# String Concatenation
- to concat or combine two or more strings using + operator.

In [159]:
a = 'Hello'
b = 'World'

c = a+b
print(c)

HelloWorld

In [161]:
c = a+' '+b
print(c)

Hello World

# String formatting
- it is used to combine strings with each other.

In [170]:
a = 5
b = 7
c = a+b

print('the result is'+ ' '+ str(c))
print(f'the result is {c}')
print('the result is',c)

the result is 12
the result is 12
the result is 12

In [172]:
# format()
quantity = 3
itemno = 567
price = 49.75

myOrder = 'I want to pay {} dollars for {} pieces of item {}'

print(myOrder.format(price, quantity, itemno))

I want to pay 49.75 dollars for 3 pieces of item 567

In [174]:
print(f'I want to pay {price} dollars for {quantity} pieces of item {itemno}')

I want to pay 49.75 dollars for 3 pieces of item 567

In [182]:
print(word)
frequency_of_i = word.count('i')

This is our 2nd day. here we learn python basic.

In [184]:
frequency_of_i

3

In [206]:
'123456'.isdigit()

True

In [194]:
int('123456 ')

123456

In [200]:
word.endswith('.')

True

In [204]:
word.startswith('The')

False

In [ ]:
word.center()