# Loop
- perform a task repeatedly.
- types
    - for
    - while
    - nested loop

# For 
- a type of loop basically used for sequence object task.
- it can used for countable loop.
- types:
  - over list
  - over string
  - over tuple
  - over range
  - over set
  - over dict

In [6]:
# over string
string = 'Hello world!'

for i in string:
    print(i, end=' ')

H e l l o   w o r l d !

In [8]:
fruits = ['apple','cherry', 'mango','litchi', 'orange']

for fruit in fruits:
    print(fruit)

apple
cherry
mango
litchi
orange

In [14]:
# dict
std = {
    'name': 'Ram',
    'age':15
}

for key in std.keys():
    print(f'{key} = {std[key]}')

name = Ram
age = 15

In [20]:
# range
for i in range(1,15,2):
    print(i)

1
3
5
7
9
11
13

In [24]:
for i in range(10,101,10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [28]:
for i in range(51):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# WAP to store 10 userdata and display.

In [31]:
num = int(input('Enter a number:'))
numList = [num]

print(numList)

Enter a number: 2

[2]

In [35]:
numList = []
for i in range(10):
    num = int(input('Enter a number'))
    numList.append(num)
print(numList)

Enter a number 1
Enter a number 2
Enter a number 3
Enter a number 4
Enter a number 5
Enter a number 6
Enter a number 7
Enter a number 8
Enter a number 9
Enter a number 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

# WAP to display even and odd numbers separately from list or any sequences.

In [40]:
even = []
odd = []

for i in range(1,51):
    if i %2 ==0:
        even.append(i)
    else:
        odd.append(i)
        
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# escape key
- break
- continue
- pass

In [55]:
# break - it is used to break the entire loop if given condition is met.

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [53]:
# continue - it is also used to break the next one loop only and continue again if given condition is met

for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

# while 
- it is used to execute a block of code/stmt repeatedly until a given condition is satisfied.
- and when condition becomes false, the line immidiately after the loop in program is executed.
- syntax:
    - initialization
    - while condition
        - stmt/ code
        - increment/decrement
    - else part

# WAP to print n natural number upto 10 using while

In [6]:
x = 1
while x<10:
    print(x)
    x+=1

else:
    print('Loop Terminate')

1
2
3
4
5
6
7
8
9
Loop Terminate

In [8]:
x = 1
even = []
odd = []
while x<50:
    if x%2==0:
        even.append(x)
    else:
        odd.append(x)
    x+=1

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [12]:
input1 = input('Do you want to start(y/n):')
count= 0

while input1.lower() =='y':
    count+=1
    input1 = input('Do you want to play again(y/n):')


print(count)

Do you want to start(y/n): n

0

# WAP to display multiplication table of any given number.
- 2 x 1 = 2

In [16]:
num = int(input('Enter a num:'))

for i in range(1,11):
    print(f'{num} x {i} = {num*i}')

Enter a num: 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# nested loop:

In [19]:
num = int(input('Enter a num:'))

for i in range(1, num+1):
    for j in range(1, 11):
        print(f'{i} x {j} = {i*j}')

    print()

Enter a num: 5

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
*
* *
* * * 
* * * *

In [27]:
num = int(input('Enter a num:'))

for i in range(1,num+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

Enter a num: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
1
22
333
4444

# WAP to check a given number is prime or composite.

In [48]:
num = int(input('Enter a num:'))

count = 0
for i in range(1, num+1):
    if num%i==0:
        count+=1

if count<2:
    print('neither prime nor composite')
elif count==2:
    print(f'{num} is Prime.')
else:
    print(f'{num} is composite')

Enter a num: 9

9 is composite

# Match Statement
- concept wise if-else ladder
- condtion matching and execute statement.

In [16]:
day = int(input('Enter day number:'))

match day:
    case 1:
        print('Sunday')
    case 2:
        print('Monday')
    case _: 
        print('Invalid Input')

Enter day number: 3

Invalid Input

# WAP to check a given number is palindrome.

In [22]:
num = int(input('Enter a num:'))
temp = num
final = 0

while temp>0:
    print('temp before loop:',temp)
    rem = temp%10
    print('rem:',rem)
    final = final*10 + rem
    print('final:',final)
    temp = temp//10
    print('temp after loop:',temp)
    print('-'*8)

# compare initial and final value
if num == final:
    print(f'{num} is Palindrome.')
else:
    print(f'{num} isnot Palindrome.')

Enter a num: 121

121
1
1
12
--------
12
2
12
1
--------
1
1
121
0
--------
121 is Palindrome.

# WAP to check a given number is armstrong.

In [26]:
num = 1534

power = len(str(num))
power

4

# find the factorial value of given number: 5! = 121

In [7]:
num = int(input('Enter a number:'))
temp = num
if temp <=1 :
    print(f'Factorial of {num} is 1.',)
else:
    fact = 1
    while temp>0:
        fact = fact * temp
        temp-=1
    print(f'Factorial of {num} is {fact}')

Enter a number: 5

Factorial of 5 is 120

# count the total number of vowel used in a paragraph or string.

# Simple ATM functionality like balance checking, deposit, withdraw, pin checking

In [13]:
balance = 5000
pin = '1234'

for _ in range(3):
    enter_pin = input('Enter your Pin:')
    if pin == enter_pin:
        while True:
            print('1. Checking balance\n2. deposit amount\n3. withdraw amount\n4. exit')
            choose = int(input('Enter your option.'))

            match choose:
                case 1:
                    print('Your Current balance is', balance)
                case 2:
                    amt = float(input('Enter amount to deposit:'))
                    balance += amt
                    print(f'{amt} is deposited to your account and new balance is {balance}')
                case 3:
                    withdraw = float(input('Enter amount to withdraw:'))
                    if withdraw >= balance:
                        print('Insufficient Balance.')
                    else:
                        balance -= withdraw
                        print(f'{withdraw} is withdrawn. Remaining balance is {balance}')
                case 4:
                    print('Thank you for using Our Service.')
                    break
                case _:
                    print('Invalid Input. Try again!')
            break
    else:
        print('Incorrect Pin. Try agian!')
else:
    print('Too many incorrect attempt. Exiting! ')

Enter your Pin: 1234

1. Checking balance
2. deposit amount
3. withdraw amount
4. exit

Enter your option. 3
Enter amount to withdraw: 3000

3000.0 is withdrawn. Remaining balance is 2000.0

Enter your Pin: 1234

1. Checking balance
2. deposit amount
3. withdraw amount
4. exit

Enter your option. 4

Thank you for using Our Service.

Enter your Pin: 1234

1. Checking balance
2. deposit amount
3. withdraw amount
4. exit

Enter your option. 5

Invalid Input. Try again!
Too many incorrect attempt. Exiting!

# Generate fibonance series. 0,1,1,2,3,5,8,13